extends layout

block content
  header
    h1=title
  main
    form(method="POST",action="/todos/create")
      label New todo
      input(name="new-todo",placeholder="Describe the todo",value="",autofocus)
      if error
        div#error= error
    if todos.length > 0
      section#main
        ul
          each todo in todos
            li(data-id=todo.id) #{todo.text}
  if todos.length > 0
    footer#footer Some footer content
